 .nav-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1070; 
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  
.text {
    color: #04395E;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header {
    display: flex;
    color: white;
    max-width: 100%;
    align-items: center;
    padding: 20px;
}

.logo {
    padding: 0.7rem;
}

a {
    margin-right: 20px;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
  
.open .bar2 {
    opacity: 0;
} 

.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
}

.mobile-menu li {
    margin-bottom: 10px;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.nav-links {
    display: flex;
    align-items: center;
}
  
.nav-item {
    margin-right: 10px;
}

@media screen and (max-width: 700px) {
    .nav-navbar {
        height: 30px;
    }
    .text, .nav-links {
        display: none;
    }
    .logo {
        height: 100%;
        padding: 0.3rem;
    }
    #hamburger-icon {
        height: 100%;
        width: 30px;
        display: block;
    }
}